<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
    <body>

      <header>
        <div class="container">
          <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <ul class="nav navbar-nav">
                  <li><a href="http://localhost:5000/speech">Анализ и синтез речи</a></li>
                </ul>
              </div>
          </nav>
        </div>
      </header>
      <main>
        <div class="container">
            <h1>Информация:</h1>
            <h4>
                Для того, чтобы воспользоваться системой необходи перейти на вкладку <a href="http://localhost:5000/speech">"Анализ и синтез речи"</a>
                , где будут доступны следующие функции:
            </h4>
            <p> - Ввод текста, или копирование через буфер в специальном поле </p>
            <p> - Воспроизведение сгенерированного речевого сигнала для введенного текста</p>
            <p> - Настройки (выбор) голоса диктора, темпа, громкости.</p>
        </div>
      </main>
    </body>
</html>